name: Build NixOS Configurations

on:
  push:
    branches:
      - "**"
  pull_request:

jobs:
  build-nixos:
    runs-on: ubuntu-latest
    strategy:
      # Don't cancel all jobs if one fails
      fail-fast: false
      matrix:
        host: [pluto, charon, juno, flore]
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build NixOS configuration for ${{ matrix.host }}
        run: nix build .#nixosConfigurations.${{ matrix.host }}