name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build & Test
    strategy:
      fail-fast: false
      matrix:
        include:
          - host: charon
            system: aarch64-linux
            runs-on: ubuntu-24.04-arm
          - host: flore
            system: x86_64-linux
            runs-on: ubuntu-latest
          - host: juno
            system: x86_64-linux
            runs-on: ubuntu-latest
          - host: pluto
            system: x86_64-linux
            runs-on: ubuntu-latest
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Setup Nix
        uses: ./.github/actions/setup-nix
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          cachix_name: ${{ secrets.CACHIX_NAME }}
          cachix_authToken: ${{ secrets.CACHIX_SIGNING_KEY }}

      - name: Build NixOS configuration
        run: nix build .#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel

      - name: Run test
        run: nix build -L .#checks.${{ matrix.system }}.${{ matrix.host }}
